{% extends "layout.html" %}

{% block title %}
Twitter
{% endblock %}

{% block content %}

<h1 class="text-center text-white mt-5">Our First Tweet Page</h1>

<a href="{% url 'tweet_create' %}" class="btn btn-success mb-3">
    Create a Tweet
</a>

<div class="container">
    <div class="row gap-3">

        {% for tweet in tweets %}

        <div class="card" style="width: 18rem;">

            {% if tweet.photo %}
            <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet Image">
            {% endif %}

            <div class="card-body">
                <h5 class="card-title">
                    {{ tweet.user.username }}
                </h5>

                <p class="card-text">
                    {{ tweet.text }}
                </p>

                <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">
                    Edit
                </a>

                <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">
                    Delete
                </a>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

{% endblock %}