{% extends "layout.html" %}

{% block title %}
twitter
{% endblock %}

{% block content %}

    <h1 class="text-center text-white mt-5"> our first tweet page</h1>
    <h2>{% if form.instance.pk %} 
        Edit Tweet
        {% else %} 
        Create tweet 
        {% endif %}
    <form method="post" enctype="multipart/form-data" class="form" >
        {% csrf_token %}
        {{ form.as_p}}
        <button class="btn btn-warning" type="submit" >Submit</button> 
    </form>
    
    <a href="{% url 'tweet_list' %}">back to tweelist</a>
    </h2>


 {% endblock %}
